
.row{
  padding-bottom: 20px;
  text-align: center;
  background-color: yellow;
}

h1{
  font-size: 4vw;
  padding-top:20px;
  margin-bottom: 2%;
  color: #404040
}

img {
    margin:0 auto;
    height:auto;
    width:50%;
}

.btrow{
  width:100%;
  margin-top: -20px;
  background: linear-gradient(to top,white 50%, yellow 50%);
}
